body
{
    background:#1b3c4f;
    margin:0;
    padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}
a
{
    text-decoration:none;
}
.main-container
{
    width:750px;
    margin:0 auto;
    position:relative;
}
.center-container
{
    float:left;
    margin-top:72px;
}
.titles-container
{
    float:left;
    width: 753px;
    height:28px;
    background:#41779b;
    -webkit-border-radius: 5px;
    font-size:10pt;
    font-weight:bold;
    color:#FFF;
    padding-right:12px;
    line-height:26px;
    text-align:right;
}
.field-container
{
    float:left;
    width:744px;
    margin-top:20px;
    padding-right:6px;
}
.field-label
{
    float:right;
    height:25px;
    color:#FFF;
    font-size:10pt;
    line-height:25px;
}
.options
{
    float:right;
    width:170px;
    height:25px;
    background:url(../images/options-page.png) no-repeat;
    margin-right:64px;
    cursor:pointer;
    position:relative;
}
.options-text
{
    float:right;
    width:108px;
    height:19px;
    color:#a2a2a2;
    font-size:10pt;
    text-align:right;
    text-shadow:1px 1px #FFF;
    margin-right: 7px;
    margin-top:3px;
}
.menu
{
    position:absolute;
    width: 138px;
    background:#dddddd;
    top: 28px;
    right: 4px;
    display:none;
}
.menu ul
{
    margin:0;
    padding:0;
    list-style:none;
}
.menu ul li
{
    float:right;
    width: 128px;
    border-bottom:1px solid #1b3c4f;
    height:25px;
    line-height:25px;
    font-size:9pt;
    text-align:right;
    margin-right:3px;
    padding-right:3px;
}
.menu ul li.last-option,
.repeat-menu ul li.last-option
{
    border:0;
}
.menu ul li a, .repeat-menu ul li a
{
    color:#1b3c4f;
}
.menu ul li a:hover, .repeat-menu ul li a:hover
{
    color:#FFF;
}
.field-container-label
{
    float:right;
    direction:rtl;
    color:#FFF;
    font-size:11pt;
    margin-right:40px;
}
.sync-button
{
    float:right;
    width:72px;
    height:24px;
    border:0;
    background:url(../images/save-btn.png) no-repeat;
    margin-right:40px;
    cursor:pointer;
}
.second-title
{
    margin-top:20px;
}
.options-area
{
    float:left;
    width:75px;
    margin-top:26px;
}
/** table style */
table.radioTable {
    width:730px;
}

table.radioTable th,  table.radioTable td {
    padding:20px;
    font-size: 13px;
    color: #DDD;
    text-align: center;
    vertical-align: bottom;
    border-radius: 4px 4px 0 0 ;
}
table.radioTable thead th {
    padding-top: 25px;
    font-size: 21px;
    color: #FFF;
}
table.radioTable tbody th {
    text-align: right;
    font-size: 11px;
    color: #999;
    width: 150px;
}
table.radioTable tbody th acronym {
    margin-right: -16px;
    padding-right: 16px;
}
table.radioTable td em {
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #999;
}
table.radioTable .highlight {
    background-color: #41779b;
    color: #FFF;
}
table.radioTable thead .highlight {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-bottom-radius: 4px;
    -webkit-border-top-bottom-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-radius: 4px;
}
.radioTable .row-price td {
    font-size: 13px;
    color: #999;
}
.radioTable .row-price strong {
    padding: 0 .25em;
    font-weight: normal;
    font-size: 21px;
    color: #FFF;
    font-family: Georgia, serif;
}
.radioTable .complete {
    font-size: 18px;
    font-weight: 100;
    line-height: .5;
}
.radioTable .dotted {
    color: #EF8412;
    font-size: 18px;
    font-weight: 100;
    line-height: .5em;
}
.radioTable .dashed {
    color: #666;
    font-size: 10px;
}
.radioTable a.signup {
    display: block;
    margin: 7px auto;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    background-color: #4e8bb4;
    width: 83px;
    height: 26px;
    border-radius:7px;
    line-height:26px;
}
.radioTable a.signup:hover {
    background-color: #153141;
    color:#fff
}

.radioTable a.btn-more {
    margin-left: 10px;
    width: 103px;
}
table.radioTable tr.send-tr td.highlight a.signup  {
    background-color: #153141;
    color:#fff}
table.radioTable tr.send-tr td {
    border-radius: 0px 0px 4px 4px ;}
.save-area
{
    height:33px;
}
.save-button
{
    float:left;
    width:72px;
    height:24px;
    border:0;
    background:url(../images/save-btn.png) no-repeat;
    margin-left:7px;
    margin-top:5px;
    cursor:pointer;
}
.popup {
    position:absolute;
    width: 292px;
    padding:10px 10px;
    background:#FFF;
    -webkit-border-radius: 5px;
    top:150px;
    left:185px;
    z-index:200;
}
.login-container {
    float:left;
    width:290px;
}
.gmail-icon {
    float:right;
    width:42px;
    height:28px;
    background:url(../images/gmail.png);
    margin-bottom:10px;
}
.login-title {
    color: #41779B;
    float: right;
    font: bold 14px Tahoma, Geneva, sans-serif;
    margin-right: 10px;
    margin-top: 4px;
    text-align: right;
}
.login-label {
    float: right;
    width: 100px;
    text-align: right;
    padding-right: 5px;
    margin-top: 10px;
    font:12px Tahoma, Geneva, sans-serif;
    color:#41779b;
}
.login-input {
    float: right;
    margin-top: 10px;
    width: 168px;
    outline: 0;
    border: 1px solid #CCC;
    text-align:right;
    -webkit-border-radius: 4px;
}
.login-input:focus {
    background:#f5f5f5;
}
.login-btn {
    float: left;
    margin-top: 10px;
    margin-left: 14px;
    background:url(../images/buttton.png);
    border:0;
    color:#FFF;
    height: 26px;
    width: 73px;
    cursor:pointer;
}
.badCred{
    background-color: tomato;
}
#myHiddenDiv {display:none;}
.close-link {float:right; font-size:11px;}
.popup-link
{
    color:#FFF;
    float:right;
    font-size:10pt;
    font-weight:bold;
    margin: 10px 19px 0px 0px;
    text-align: right;
}
.close-icon {
    background:url(../images/close_pop.png) no-repeat;
    width:16px;
    height: 16px;
    position:absolute;
    cursor:pointer;
}
.close-icon2 {
    background:url(../images/close_pop.png) no-repeat right;
    width:16px;
    height: 16px;
    cursor:pointer;
    padding-left:20px;
    float: right;
}
.popup-overlay
{
    width:100%;
    height:100%;
    background:#000;
    opacity: .7;
    position:absolute;
    z-index:10;
}
.loading
{
    position:absolute;
    top:135px;
    left:350px;
}
.sync-btn
{
    float:left;
    width:73px;
    height:26px;
    background:url(../images/buttton.png) no-repeat;
    border:0;
    margin-left:25px;
    margin-top:-4px;
    font-size:11pt;
    font-family:Tahoma, Geneva, sans-serif;
    color:#FFF;
    cursor: pointer;
    padding-bottom:7px;
}
.sync-btn:hover
{background:url(../images/buttton-hover.png) no-repeat;}