<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="../controllers/dbConnectors.js"></script>
        <script type="text/javascript" src="../controllers/proxyconnect.js"></script>
        <link type="text/css" rel="stylesheet" href="css/options.css" />
        <script type="text/javascript" src="js/jquery-latest.js"></script>
        <script type="text/javascript" src="../controllers/util.js"></script>
        <script type="text/javascript" src="../controllers/options.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $("div.options").click(function () {
                    $("div.menu").slideToggle("slow");

                });

            });
        </script>

    </head>

    <body>
    <div class="popup-overlay" style="display:none;"></div>
        <div class="main-container">
            <div class="center-container">
                <span class="titles-container">صفحة الإعدادات</span>
                <!--added to set synch-->
                <div id="welcomeScreen" class="popup-link"></div>
                <div class="popup" id="loginpopup" style="display: none;">
                <a style="" class="close-icon"></a>
                    <div class="gmail-icon"></div>
                    <span class="login-title">تسجيل الدخول</span>
                    <div class="login-container">
                        <label class="login-label">البريد الالكترونى</label>
                        <input type="text" id="username" name="" class="login-input">
                        <label class="login-label">كلمة المرور</label>
                        <input type="password" id="password" name="" class="login-input">
                        <input type="button" id="loginbutton" name="" class="login-btn" value="دخول">
                    </div>
                </div>
                <div style="display: none;" id="loading" class="loading">
                    <img src="images/ajax-loader.gif" alt="loading" />
                </div>
                <!--end synch-->
                <div class="field-container">
                    <label class="field-label">إسم المهمة</label>
                    <div class="options">
                        <span class="options-text">اختار</span>
                        <div class="menu">
                            <ul>
                                <li><a >تذكير صوتى</a></li>
                                <li><a >تذكير عن طريق رسالة</a></li>
                                <li class="last-option"><a >تذكير صوتى وظهور رسالة</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="field-container">
                    <label class="field-label">التزامن مع جوجل</label>
                    <label class="field-container-label">
                        <input type="checkbox" name="CheckboxGroup1" value="all" id="synchall" />
                        الكل</label>
                    <label class="field-container-label">
                        <input type="checkbox" name="CheckboxGroup1" value="vimp" id="synchvimp" />
                        هام جدا</label>
                    <label class="field-container-label">
                        <input type="checkbox" name="CheckboxGroup1" value="imp" id="synchimp" />
                        هام</label>
                    <label class="field-container-label">
                        <input type="checkbox" name="CheckboxGroup1" value="reg" id="synchreg" />
                        متوسط الأهمية</label>

                    <input name="" type="submit" id="sync" value="" class="sync-button"/>
                </div>
                <span class="titles-container second-title">إختار قالب لقائمة المهام </span>
                <div class="options-area">
                    <table class="radioTable RTMbps" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="5"><img src="images/green_bg.jpg" alt="" width="150" height="105"></td>
                                <td class="6"><img src="images/red_bg.jpg" alt="" width="150"></td>

                                <td class="highlight 8"><img src="images/blue_bg.jpg" alt="" width="150" height="105"></td>
                            </tr>
                            <tr class="send-tr">
                                <td class="5"><input class="radioDemo" name="Mbps" value="5Mbps" type="radio">
                                    <a style="cursor:pointer;" onClick="" class="signup Mbps" ><strong>اضف</strong></a></td>
                                <td class="6"><input class="radioDemo" name="Mbps" value="5Mbps" type="radio">
                                    <a style="cursor:pointer;" onClick="" class="signup Mbps" ><strong>اضف</strong></a></td>

                                <td class=" highlight 8"><input class="radioDemo" name="Mbps" value="5Mbps" type="radio">
                                    <a style="cursor:pointer;" onClick="" class="signup Mbps" ><strong>اضف</strong></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<!--                                <span class="titles-container second-title save-area">
                                    <input name="" type="submit" class="save-button" value="" />
                                </span>-->
            </div>
        </div>
        <div id="textContainer" style="display:none;" class="popup-link">لم يتم تسجيل البيانات الخاصة بك علي حساب جووجل  <a style="cursor: pointer;" onClick="OPTIONS.showLogin();">اضغط هنا لتسجيل الدخول</a></div>
        
    </body>
</html>
