<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        <link type="text/css" rel="stylesheet" href="css/smoothness/jquery-ui-1.8.6.custom.css" />
        <script type="text/javascript" src="js/jquery-latest.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.8.6.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
        <script src="../controllers/dbConnectors.js" type="text/javascript"></script>
        <script src="../controllers/popup.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="main">
            <div class="main-container">
                <div class="settings"><a style="cursor: pointer;" id="optionPage">إعدادات</a></div>
                <div class="tasks-icon">قائمة المهام</div>

                <div class="validation-area" id="AlertBox" style="display: none;">
                    <div class="close"><a style="cursor: pointer" id="closeAlertBox" ><img src="images/close.png" width="20" height="17" alt="close" /></a></div>
                    <span class="validation-txt" id="errorMSG" ></span>
                </div>
                <div id="main-page">
                    <div class="tools-container">
                        <p id="text">
                            <span id="addbutton" class="hotspot" onmouseover="tooltip.show('<strong>اضافة</strong>');" onmouseout="tooltip.hide();"><img alt="" src="images/add.png" width="16" height="16" /></span>
                            <span id="deletebutton" class="hotspot" onmouseover="tooltip.show('<strong>حذف</strong>');" onmouseout="tooltip.hide();"><img alt="" src="images/delete.png" width="16" height="16" /></span>
                            <span class="hotspot" onmouseover="tooltip.show('<strong>تزامن</strong>');" onmouseout="tooltip.hide();"><img alt="" src="images/sync.png" width="19" height="18" /></span> </p>
                    </div>
                    <div class="tasks-container">
                        <h2 class="trigger active" id="todaytasks">
                            <a class="trigger-link">اليوم</a>
                            <a class="trigger-icon"><img alt="" src="images/add.png" width="16" height="16" /></a>
                        </h2>
                        <div class="toggle_container" id="todays">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" dir="rtl" id="todaysTable"></table>

                        </div>

                        <h2 class="trigger" id="tomorrowtasks">
                            <a class="trigger-link">غدا</a>
                            <a class="trigger-icon"><img alt="" src="images/add.png" width="16" height="16" /></a>
                        </h2>
                        <div class="toggle_container">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" dir="rtl" id="tomorrowsTable"></table>
                        </div>

                        <h2 class="trigger" id="oldtasks">
                            <a class="trigger-link">مهام سابقة</a>
                            <a class="trigger-icon"><img alt="" src="images/add.png" width="16" height="16" /></a>
                        </h2>
                        <div class="toggle_container">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="oldTaskTable" dir="rtl">
<!--                                <tr>
                                    <td width="25" height="26" align="center"><input name="" type="checkbox" value="" /></td>
                                    <td width="100" height="26">الذهاب الى النادى</td>
                                    <td width="80" height="26" align="center">5.30 PM</td>
                                    <td width="185" height="26">التركيز على الفصل الثانى</td>
                                    <td width="25" height="26" align="center"><a href=""><img src="images/edit.png" width="19" height="22" alt="edit" /></a></td>
                                </tr>
                                <tr class="unread-row">
                                    <td width="25" height="26" align="center"><input name="" type="checkbox" value="" /></td>
                                    <td width="100" height="26">الذهاب الى النادى</td>
                                    <td width="80" height="26" align="center">5.30 PM</td>
                                    <td width="185" height="26">التركيز على الفصل الثانى</td>
                                    <td width="25" height="26" align="center"><a href=""><img src="images/edit.png" width="19" height="22" alt="edit" /></a></td>
                                </tr>
                                <tr>
                                    <td width="25" height="26" align="center"><input name="" type="checkbox" value="" /></td>
                                    <td width="100" height="26">الذهاب الى النادى</td>
                                    <td width="80" height="26" align="center">5.30 PM</td>
                                    <td width="185" height="26">التركيز على الفصل الثانى</td>
                                    <td width="25" height="26" align="center"><a href=""><img src="images/edit.png" width="19" height="22" alt="edit" /></a></td>
                                </tr>
                                <tr class="active-row">
                                    <td width="25" height="26" align="center"><input name="" type="checkbox" value="" /></td>
                                    <td width="100" height="26">الذهاب الى النادى</td>
                                    <td width="80" height="26" align="center">5.30 PM</td>
                                    <td width="185" height="26">التركيز على الفصل الثانى</td>
                                    <td width="25" height="26" align="center"><a href=""><img src="images/edit.png" width="19" height="22" alt="edit" /></a></td>
                                </tr>
                                <tr>
                                    <td width="25" height="26" align="center"><input name="" type="checkbox" value="" /></td>
                                    <td width="100" height="26">الذهاب الى النادى</td>
                                    <td width="80" height="26" align="center">5.30 PM</td>
                                    <td width="185" height="26">التركيز على الفصل الثانى</td>
                                    <td width="25" height="26" align="center"><a href=""><img src="images/edit.png" width="19" height="22" alt="edit" /></a></td>
                                </tr>
                                <tr>
                                    <td width="25" height="26" align="center"><input name="" type="checkbox" value="" /></td>
                                    <td width="100" height="26">الذهاب الى النادى</td>
                                    <td width="80" height="26" align="center">5.30 PM</td>
                                    <td width="185" height="26">التركيز على الفصل الثانى</td>
                                    <td width="25" height="26" align="center"><a href=""><img src="images/edit.png" width="19" height="22" alt="edit" /></a></td>
                                </tr>-->
                            </table>
                        </div>
                    </div>
                    <div class="bottom-area">
                        <span class="bottom-label">إظهار</span>
                        <div class="options">
                            <span class="options-text">اختار</span>
                        </div>
                        <div class="menu">
                            <ul>
                                <li><a >الكل</a></li>
                                <li><a >المهام المكتملة</a></li>
                                <li><a >المهام الغير مكتملة</a></li>
                            </ul>
                        </div>
                        <input name="" onclick="POPUP.getSelectedRows();" type="submit" value="" class="btn"/>
                    </div>
                </div>
                <div class="add-container" style="display: none;" id="add-container">
                    <span class="add-title">
                        أضافة مهمة
                        <div class="close add-close"><a style="cursor: pointer;" id="close-addForm"><img src="images/close.png" width="20" height="17" alt="close" /></a></div>
                    </span>
                    <form name="addForm">
                        <input type="hidden" id="taskId"/>
                        <div class="field-container">
                            <label class="field-label required">إسم المهمة</label>
                            <input name="" id="taskTitle" type="text" class="txt-input" />
                        </div>
                        <div class="field-container">
                            <label class="field-label">درجة الأهمية</label>
<!--                            <div class="options add-options">
                                <span class="options-text">اختار</span>
                                <div class="menu">
                                    <ul>
                                        <li><a>عادى</a></li>
                                        <li><a>هام</a></li>
                                        <li class="last-option"><a>هام جدا</a></li>
                                    </ul>
                                </div>
                            </div>-->
                            <select id="priority">
                                <option disabled>اختر</option>
                                <option value="reg">عادي</option>
                                <option value="imp">هام</option>
                                <option value="vimp">هام جداً</option>
                            </select>
                        </div>
                        <div class="field-container">
                            <label class="field-label">اعادة التذكير</label>
                            <!--<div class="repeat-options">
                                    <span class="repeat-options-text">اختار</span>
                                    <div class="repeat-menu">
                                        <ul>
                                            <li><a>يومى</a></li>
                                            <li><a>اسبوعى</a></li>
                                            <li><a>شهرى</a></li>
                                            <li class="last-option"><a>سنوى</a></li>
                                        </ul>
                                    </div>
                                </div>-->
                            <select id="reminderType">
                                <option disabled>اختر</option>
                                <option value="none">لا تعد التذكير</option>
                                <option value="daily">يومي</option>
                                <option value="weekly">اسبوعي</option>
                                <option value="monthly">شهري</option>
                                <option value="annual">سنوس</option>
                            </select>
                        </div>
                        <div class="field-container">
                            <label class="required field-label ">وقت وتاريخ المهمة</label>
<!--                            <div class="date-options">
                                <span class="date-options-text">اختار</span>
                                <div class="date-menu">
                                    <ul>
                                        <li><a>AM</a></li>
                                        <li class="last-option"><a>PM</a></li>
                                    </ul>
                                </div>
                            </div>

                            <input name="" type="text" class="small-input" />
                            <label class="field-label time-label">ساعة</label>
                            <input name="" type="text" class="small-input" />
                            <label class="field-label time-label">دقيقة</label>-->
                        <input name="" id="startdate" type="text" class="txt-input" />
                        <input name="" id="time" type="text" class="txt-input" />
                        </div>
                        <div class="field-container">
                            <label class="field-label">إدراج تعليق</label>
                            <textarea id="content" name="" cols="" rows="" class="comment"></textarea>
                        </div>
                        <div class="field-container">
                            <label class="field-label">إضافة وقت تذكير</label>
                            <input name="" id="reminder" type="text" class="txt-input" />
<!--                            <div class="time-options">
                                <span class="time-options-text">اختار</span>
                                <div class="time-menu">
                                    <ul>
                                        <li><a>AM</a></li>
                                        <li class="last-option"><a>PM</a></li>
                                    </ul>
                                </div>
                            </div>

                            <input name="" type="text" class="small-input" />
                            <label class="field-label time-label">ساعة</label>
                            <input name="" type="text" class="small-input" />
                            <label class="field-label time-label">دقيقة</label>-->
                        </div>
                        <div class="field-container" id="completedcheck" style="display: none;">
                            <label class="field-label">مهمة منتهية</label>
                            <input type="checkbox" id="completedTask" />
                        </div>
                        <input name="" type="button" id="addEvent"  value="" class="add-btn"/>
                        <input name="" type="button" id="updateTask" style="display: none;"  value="update" class="add-btn"/>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" language="javascript" src="js/script.js"></script>
    </body>
</html>
